<div id="background">
  <header>

    <div id='brand'>
        <%= link_to 'secure', root_path, class: 'logo' %>
        <%= link_to 'inventory', root_path, class: 'logo', id: 'logo_thin' %>
    </div>


    <nav>

      <ul>
        <li><%= link_to 'About Us', about_path %></li>
        <% if current_user %>
          <li><%= link_to 'Sign Out', logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Create Account', new_user_path %></li>
          <li><%= link_to 'Sign In', login_path %>
        <% end %>
      </ul>

    </nav>

  </header>


  <h1>create a secure record of your<br>belongings in case of the worst</h1>
  <%= link_to 'Create Account', new_user_path, class: 'button button_highlight' %>
  <%= link_to 'What We Do', about_path, class: 'button button_white' %>
</div>
