<%= form_for @item, html: { multipart: true } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div id="custom_room", class="field">
    <%= f.label :room %><br>
    <%= f.select( :room, options_for_select([['Select One...', 'Select One...'],['Family Room', 'Family Room'], ['Living Room', 'Living Room'], ['Kitchen', 'Kitchen'], ['Den', 'Den'], ['Master Bedroom', 'Master Bedroom'], ['Bedroom', 'Bedroom'], ['Office', 'Office']], f.object.room)) %>
  </div>
  <% if @item.room == 'Custom' %>
    <h2>Custom!!</h2>
    f.label :room
    f.text_field :room
  <% end %>
  <div class="field">
    <%= f.label :purchase_price %><br>
    <%= f.text_field :purchase_price %>
  </div>
  <div class="field">
    <%= f.label 'Upload an image' %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
