<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Room:</strong>
  <%= @item.room %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= number_to_currency(@item.purchase_price) %>
</p>

<p><%= image_tag @item.image.url(:medium) %></p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', dashboard_path %>
