<!DOCTYPE html>
<html>
<head>
  <title>SecureInventory</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="background">
    <header>

      <div id='brand'>
          <%= link_to 'secure', root_path, class: 'logo' %>
          <%= link_to 'inventory', root_path, class: 'logo', id: 'logo_thin' %>
      </div>


      <nav>

        <ul>
          <li><%= link_to 'About Us', about_path %></li>
          <% if current_user %>
            <li><%= link_to 'Sign Out', logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Create Account', new_user_path %></li>
            <li><%= link_to 'Sign In', login_path %>
          <% end %>
        </ul>

      </nav>

    </header>

    <%= yield %>
  </div>
</body>
</html>
